<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windfallsheng.modulechat">

    <application android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.ForResultActivity" />
        <activity android:name=".activity.InterceptorActivity"></activity>
    </application>
</manifest>
